@model LMTracking.Models.PontosMapa
@{
    ViewBag.Title = "Consultar";
}


<style>
    .gmaps-overlay_arrow.above {
        bottom: -15px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
    }

    .gmaps-overlay {
        display: block;
        text-align: center;
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        border-radius: 4px;
        padding: 10px 10px;
    }

    .motoristas.gmaps-overlay {
        background: #ab8ce4;
    }

    .motoristas.gmaps-overlay_arrow.above {
        border-top: 16px solid #ab8ce4;
    }

    .veiculos.gmaps-overlay {
        background: #03a9f3;
    }

    .veiculos.gmaps-overlay_arrow.above {
        border-top: 16px solid #03a9f3;
    }

    .entrega-pendente.gmaps-overlay {
        background: #fec107;
    }

    .entrega-pendente.gmaps-overlay_arrow.above {
        border-top: 16px solid #fec107;
    }

    .entrega-completa.gmaps-overlay {
        background: #00c292;
    }

    .entrega-completa.gmaps-overlay_arrow.above {
        border-top: 16px solid #00c292;
    }

    .text-left {
        text-align: left;
    }
</style>

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Consultar</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="#">LM Tracking</a></li>
            <li><a href="/Rastreamento/Index">Rastreamento</a></li>
            <li class="active">Consultar</li>

        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-8 col-lg-9 col-sm-12">
        <div class="white-box">
            <div id="overlayermap" class="gmaps divmapa"></div>
        </div>
    </div>

    <div class="col-md-4 col-lg-3 col-xs-12">
        <div class="white-box">
            <div class="user-bg">
                <img class="img-condutor" src="~/images/users/5.jpg" alt="user">
                <div class="overlay-box">
                    <div class="user-content">
                        <a href="javascript:void(0)">
                            <img alt="img" class="thumb-lg img-circle img-condutor" src="~/images/users/5.jpg">
                        </a>
                        <h4 class="text-white" id="user-name">User Name</h4>
                        <h5 class="text-white">info@myadmin.com</h5>
                    </div>
                </div>
            </div>
            <div class="user-btm-box">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-center">
                        <p class="text-purple">Completas</p>
                        <h1>258</h1>
                    </div>
                    <div class="col-md-6 col-sm-6 text-center">
                        <p class="text-blue">Pendentes</p>
                        <h1>125</h1>
                    </div>
                    @*<div class="col-md-4 col-sm-4 text-center">
                            <p class="text-danger"><i class="ti-dribbble"></i></p>
                            <h1>556</h1>
                        </div>*@
                    <div class="col-md-12 col-sm-12">
                        <h3 class="box-title">Atividades</h3>
                        <ul class="feeds">
                            <li>
                                <div class="bg-success"><i class="fa fa-check text-white"></i></div> You have 4 pending tasks. <span class="text-muted">1 h</span>
                            </li>
                            <li>
                                <div class="bg-success"><i class="fa fa-check text-white"></i></div> You have 4 pending tasks. <span class="text-muted">30 min</span>
                            </li>
                            <li>
                                <div class="bg-success"><i class="fa fa-check text-white"></i></div> You have 4 pending tasks. <span class="text-muted">Agora mesmo</span>
                            </li>
                            <li>
                                <div class="bg-warning"><i class="fa fa-clock-o text-white"></i></div> New order received.<span class="text-muted">Pendente</span>
                            </li>
                        </ul>
                    </div>

                    <div class="stats-row col-md-12 m-t-20 m-b-0 text-center">
                        <div class="stat-item">
                            <h6>Contato</h6> <b><i class="ti-mobile"></i> 011 99485-6512</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>

        $(document).ready(function () {
            CalcularHeightMapa();

            InicializarConfiguracoesMapa();

            var local = {};

            local.tipoPonto = @Model.TipoPonto;
            local.latitude = @Model.Latitude.ToString().Replace(",", ".");
            local.longitude =@Model.Longitude.ToString().Replace(",", ".");
            local.id = @Model.ID;
            local.descricao = '@Model.Descricao';


            $('.img-condutor').attr('src', '../../images/users/@(Model.ID).jpg');
            $('#user-name').html('@Model.Descricao')

            AdicionarLocal(local);

            CarregarPontosMapas();
        });

        $(window).resize(function () {
            CalcularHeightMapa();
        });

        function CalcularHeightMapa() {

            if ($('#PontosMapa').height() > $(window).height() - 280) {
                $('.divmapa').height($('#PontosMapa').height());
            }
            else {
                $('.divmapa').height($(window).height() - 280);
            }

            if (mapaConfig != undefined) {
                // (the 'map' here is the result of the created 'var map = ...' above)
                google.maps.event.trigger(mapaConfig, "resize");
            }

        }

        var mapaConfig;
        var PontosMapas = {};


        function InicializarConfiguracoesMapa() {

            var latitude =  @Model.Latitude.ToString().Replace(",", ".");
            var longitude = @Model.Longitude.ToString().Replace(",", ".");

            mapaConfig = new GMaps({
                el: '#overlayermap',
                lat: latitude,
                lng: longitude,
                zoom: 13,
                panControl: false,
                scrollwheel: true,
                streetViewControl: false,
                mapTypeControl: false,
                overviewMapControl: false
            });
        }

        function AdicionarLocal(local) {
            if (mapaConfig == undefined) {
                InicializarConfiguracoesMapa();
            }

            var cssClass = 'motoristas';
            var icone = '<i class="fa fa-user"></i>'; // Motoristas
            if (local.tipoPonto == 2) {
                cssClass = 'veiculos';
                icone = '<i class="fa fa-truck"></i>';  // Veiculos
            }

            //Entrega Pendente
            if (local.tipoPonto == 3) {
                cssClass = 'entrega-pendente';
                icone = '<i class="fa fa-truck"></i>';  // Veiculos
            }
            //Entrega Completa
            if (local.tipoPonto == 4) {
                cssClass = 'entrega-completa';
                icone = '<i class="fa fa-truck"></i>';  // Veiculos
            }

            return mapaConfig.drawOverlay({
                lat: local.latitude,
                lng: local.longitude,
                layer: 'overlayLayer',
                content: '<div class="gmaps-overlay ' + cssClass + '" style="width: auto;" data-id="' + local.id + '">' + icone + ' ' + local.descricao + '<div class="gmaps-overlay_arrow above ' + cssClass + '"></div></div>',
            });
        }


        function CarregarPontosMapas() {

            var dataToServer = {
                ID: @Model.ID
            };

            $.ajax({
                type: "POST",
                url: rootUrl + 'Rastreamento/ConsultarPontoMapa',
                dataType: "json",
                data: dataToServer,
                error: function (json) {
                    Alerta("Não foi possível configurar a caixa.", "Atenção", "error");
                },
                success: function (json) {

                    var result = eval(json);

                    if (result == undefined) {
                        Alerta('Ocorreu um erro ao abonar o documento.', '', 'warning');
                        return;
                    }
                    if (result.Sucesso == false) {
                        Alerta(result.Mensagem, '', 'warning');
                        return;
                    }

                    PontosMapas2 = result.data.trechos;


                    for (var i = 0; i < PontosMapas2.trechos.length; i++) {

                        if (i + 1 <= PontosMapas2.trechos.length) {
                            var inicio = PontosMapas2.trechos[i];
                            var fim = PontosMapas2.trechos[i + 1];

                            if (inicio != undefined && fim != undefined) {
                                mapaConfig.drawRoute({
                                    origin: [inicio.latitude, inicio.longitude],
                                    destination: [fim.latitude, fim.longitude],
                                    travelMode: 'driving',
                                    strokeColor: '#131540',
                                    strokeOpacity: 0.6,
                                    strokeWeight: 6
                                });
                            }
                        }
                        PontosMapas2.trechos[i].descricao = i + 1;
                        //PontosMapas2.trechos[i].tipoPonto = 2;
                        AdicionarLocal(PontosMapas2.trechos[i]);
                    }



                }
            });
        }

        function teste() {
            mapaConfig.drawRoute({
                origin: [-23.528743, -46.739711],
                destination: [-23.540260, -46.719487],
                travelMode: 'driving',
                strokeColor: '#131540',
                strokeOpacity: 0.6,
                strokeWeight: 6
            });

        }

    </script>
}